* {
    margin:0;
    padding:0;
    font-family: 'Arial';
}

#map {
    position:absolute;
    top: 80px;
    bottom:0;
    width:100%;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 2;
}

.logo {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/83/JLL_logo.svg");
    width: 150px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-group {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.slidecontainer {
    width: 150px;
    margin: 0 10px;
}

.slider {
    -webkit-appearance: none;   
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    background: #d3d3d3;  
    outline: none;  
    opacity: 0.7;  
    -webkit-transition: .2s;  
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;  
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;  
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #444444;
    cursor: pointer;  
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #444444;
    cursor: pointer;  
}